server:
  port: 8085

spring:
  redis:
    host: redis
    port: 6379
  cache:
    type: redis
  liquibase:
    change-log: db/changelog/changelog-master.yml
  datasource:
    url: jdbc:postgresql://postgres:5432/inno
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: payment-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

keycloak:
  server-url: http://keycloak:8081
  realm: web-store

client:
  user-service-uri: http://users-web-store:8080/api/users/email/{email}