version: "3.9"

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: inno
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - inno
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - inno
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  users-web-store:
    build:
      context: ../users
      dockerfile: ../users/docker/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
    networks:
      - inno
    environment:
      SPRING_PROFILES_ACTIVE: docker

volumes:
  postgres-data:

networks:
  inno:
