server:
  port: 8080

spring:
  redis:
    host: redis
    port: 6379
  cache:
    type: redis
  liquibase:
    change-log: db/changelog/changelog-master.yml
  datasource:
    url: jdbc:postgresql://postgres:5432/inno
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

keycloak:
  server-url: http://keycloak:8081
  realm: web-store
