apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-web-store
  namespace: inno
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: docker-gateway-web-store:latest
          ports:
            - containerPort: 8084
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8084
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 60
            failureThreshold: 10
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8084
            initialDelaySeconds: 60
            periodSeconds: 5
            timeoutSeconds: 60
            failureThreshold: 10
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: docker
          imagePullPolicy: IfNotPresent
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-web-store
  namespace: inno
spec:
  ports:
    - port: 8084
  selector:
    app: gateway
