apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-web-store
  namespace: inno
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
        - name: payment
          image: docker-payment-web-store:latest
          ports:
            - containerPort: 8085
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8085
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 60
            failureThreshold: 10
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8085
            initialDelaySeconds: 60
            periodSeconds: 5
            timeoutSeconds: 60
            failureThreshold: 10
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: docker
          imagePullPolicy: IfNotPresent
---
apiVersion: v1
kind: Service
metadata:
  name: payment-web-store
  namespace: inno
spec:
  ports:
    - port: 8085
  selector:
    app: payment
